<div class="home">
    <div class="home-container">
        <div class="content">
            <div class="content-head">
                <div class="head-title">
                    <span class="title">Ai Bot</span>
                </div>
                <div class="horizontal-ruler"></div>
            </div>
            <div class="content-chat-screen">

            </div>
            <div class="content-type-bar">
                <div class="type-bar">
                    <input class="text-input" type="text"  [(ngModel)] = "textInput" placeholder="Type your message...">
                </div>
                <!-- <textarea class="msg-input" id="input-field" [(ngModel)]="textInput" (input)="resizeInput()"placeholder="Message..."></textarea> -->
                <span *ngIf="textInput !=''"> <img  class="icon-padding" src="../../assets/images/send_40dp_FILL0_wght600_GRAD0_opsz40.svg" alt="send button" width="24px" (click)="sendText()">
                </span>
                <span  class="icon-padding" *ngIf="textInput ===''" ><img src="../../assets/images/mic_40dp_FILL0_wght600_GRAD0_opsz40.svg" alt="attachment button" width="24px"> </span>
            </div>
        </div>
    </div>
</div>